<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JustMock" version="2014.3.1204.3" targetFramework="net451" />
  <package id="LibGit2Sharp" version="0.18.1.0" targetFramework="net451" />
  <package id="xunit" version="1.9.2" targetFramework="net451" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net451" />
  <package id="Zoltu.Collections.Generic.NotNull" version="1.0.11.0" targetFramework="net451" />
  <package id="Zoltu.Linq.NotNull" version="1.0.23.0" targetFramework="net451" />
</packages>