<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibGit2Sharp" version="0.21.0.176" targetFramework="net451" developmentDependency="true" />
  <package id="NuGet.CommandLine" version="3.3.0" targetFramework="net451" />
  <package id="NuGet.for.MSBuild" version="2.1.0" targetFramework="net451" developmentDependency="true" />
  <package id="Zoltu.Collections.Generic.NotNull" version="1.0.15.0" targetFramework="net451" developmentDependency="true" />
  <package id="Zoltu.Linq.NotNull" version="1.0.36.0" targetFramework="net451" developmentDependency="true" />
  <package id="Zoltu.Versioning" version="1.2.24.0" targetFramework="net451" developmentDependency="true" />
</packages>